<body>
    <div class = "city_buttons">
        <a href="/help">Click here to read up on how to play the game</a>
        <br>
        <a href="/tasks">Click here to view your daily tasks</a>
    </div>
<div class = "no_buy">
        <h2  id = "no_buy" hidden = true>Not enough resources</h2>
    </div>
<h1>City</h1>
<p>Welcome, <span id="username">{{username}}</span></p>
<p>Level: <span id="level">{{level}}</span>, XP: <span id="xp">{{xp}}</span></p>
<div class="resources">
    <p id="resourceText">
        gold: <span id="gold">{{gold}}</span>,
        wood: <span id="wood">{{wood}}</span>,
        stone: <span id="stone">{{stone}}</span>,
        amber: <span id="amber">{{amber}}</span>
    </p>
</div>
<div class = "row">
    <div class="column">
        <div id="buildings" class = "row">
            <div class = "column">
                <p>Gold Generator</p>
                <div class="row">
                    <div class = "btn-build">
                        <div class="column"> 
                            <button id="destroy-gold-generator">-</button>
                        </div>
                        <div class="column">
                            <button id="buy-gold-generator">+</button>
                        </div>    
                    </div> 
                </div>
                <p>Wood Generator</p>
                <div class="row">
                    <div class = "btn-build">
                        <div class="column"> 
                            <button id="destroy-wood-generator">-</button>
                        </div>
                        <div class="column">
                            <button id="buy-wood-generator">+</button>
                        </div>    
                    </div> 
                </div>
                <p>Stone Generator</p>
                <div class="row">
                    <div class = "btn-build">
                        <div class="column"> 
                            <button id="destroy-stone-generator">-</button>
                        </div>
                        <div class="column">
                            <button id="buy-stone-generator">+</button>
                        </div>
                    </div>    
                </div> 
                <p>Amber Generator</p>
                <div class="row">
                    <div class = "btn-build">
                        <div class="column"> 
                            <button id="destroy-amber-generator">-</button>
                        </div>
                        <div class="column">
                            <button id="buy-amber-generator">+</button>
                        </div>    
                    </div> 
                </div>
                <p>Archer Tower</p>
                <div class="row">
                    <div class = "btn-build">
                        <div class="column"> 
                            <button id="destroy-archer-tower">-</button>
                        </div>
                        <div class="column">
                            <button id="buy-archer-tower">+</button>
                        </div>    
                    </div> 
                </div>
                <p>Spell Tower</p>
                <div class="row">
                    <div class = "btn-build">
                        <div class="column"> 
                            <button id="destroy-spell-tower">-</button>
                        </div>
                        <div class="column">
                            <button id="buy-spell-tower">+</button>
                        </div>    
                    </div> 
                </div>
                <p>Barracks</p>
                <div class="row">
                    <div class = "btn-build">
                        <div class="column"> 
                            <button id="destroy-barracks">-</button>
                        </div>
                        <div class="column">
                            <button id="buy-barracks">+</button>
                        </div>    
                    </div> 
                </div>
            </div>
            <div class = "column">
                <p>Gold Storage</p>
                <div class="row">
                    <div class = "btn-build">
                        <div class="column"> 
                            <button id="destroy-gold-storage">-</button>
                        </div>
                        <div class="column">
                            <button id="buy-gold-storage">+</button>
                        </div>    
                    </div> 
                </div>
                <p>Wood Storage</p>
                <div class="row">
                    <div class = "btn-build">
                        <div class="column"> 
                            <button id="destroy-wood-storage">-</button>
                        </div>
                        <div class="column">
                            <button id="buy-wood-storage">+</button>
                        </div>    
                    </div> 
                </div>
                <p>Stone Storage</p>
                <div class="row">
                    <div class = "btn-build">
                        <div class="column"> 
                            <button id="destroy-stone-storage">-</button>
                        </div>
                        <div class="column">
                            <button id="buy-stone-storage">+</button>
                        </div>    
                    </div> 
                </div>
                <p>Amber Storage</p>
                <div class="row">
                    <div class = "btn-build">
                        <div class="column"> 
                            <button id="destroy-amber-storage">-</button>
                        </div>
                        <div class="column">
                            <button id="buy-amber-storage">+</button>
                        </div>    
                    </div> 
                </div>
                
                <p>Magic Academy</p>
                <div class="row">
                    <div class = "btn-build">
                        <div class="column"> 
                            <button id="destroy-magic-academy">-</button>
                        </div>
                        <div class="column">
                            <button id="buy-magic-academy">+</button>
                        </div>    
                    </div> 
                </div>
                <p>Army Camp</p>
                <div class="row">
                    <div class = "btn-build">
                        <div class="column"> 
                            <button id="destroy-army-camp">-</button>
                        </div>
                        <div class="column">
                            <button id="buy-army-camp">+</button>
                        </div>    
                    </div> 
                </div>
            </div>
    </div>  
</div>
    <div class="column">
        <div class="buildingsOwned">
            {{#if (isEmptyObject buildings)}}
                <p id="noBuildingsText">You have no buildings.</p>
            {{else}}
                {{#each orderedBuildingsList}}
                    {{#if (propertyExists ../buildings @key)}}
                        <div class="buildingRow">
                            <img src="{{this.icon}}" alt="{{@key}}" />
                            <span>{{@key}}</span>
                            <span>{{this.buildingDescription}}</span>
                            <span>Count: {{lookup ../buildings @key}}</span>
                        </div>
                    {{/if}}
                {{/each}}
            {{/if}}
        </div>
    </div>
    </div>
</div>
<div class="storageCapacity">
    <p>Storage Capacities:</p>
    <ul>
        <li id="goldStorage">Gold Storage: {{goldStorageCapacity}}</li>
        <li id="woodStorage">Wood Storage: {{woodStorageCapacity}}</li>
        <li id="stoneStorage">Stone Storage: {{stoneStorageCapacity}}</li>
        <li id="amberStorage">Amber Storage: {{amberStorageCapacity}}</li>
    </ul>
</div>
<a href="/pvp" class="pvp-button">Go to PvP</a>
<a href="/report" class="report-button">Report a Player</a>
<a href="/logout">Logout</a>

<script>
    var initialResources = {
        gold: {{gold}},
        wood: {{wood}},
        stone: {{stone}},
        amber: {{amber}}
    };
    //I looked through a lot of json documentation and this converts an object to its JSON representation,kinda fire but took way to long
    var initialBuildings = {{{asJSON buildings}}};
</script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="../public/js/main.js"></script>
</body>
