<h1>Daily Tasks</h1>
<h2>You will earn {{ reward }} XP and {{ reward }} of every resource for each task you complete! </h2>

<body>
    {{#each Tasks}} 
        <h3>{{ name }}</h3>
        <p>{{ description }}</p>
        {{#if notComplete }}
        <a class="finishItem" data-id="{{id}}">Finish</a>
        {{/if}}
        {{#if complete }}
        <em>This task has been completed</em>
        {{/if}}
    {{/each}}
</body>